<div class="page-header">
  <h3>Question #<%= @question.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Inquiry</dt>
      <dd><%= @question.inquiry %></dd>

      <dt>Subject</dt>
      <dd><%= @question.subject_id %></dd>

      <dt>High level question</dt>
      <dd><%= @question.high_level_question %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/questions" class="btn btn-primary">
        Back
      </a>
      <a href="/questions/<%= @question.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_question/<%= @question.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Question has many outcomes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Outcomes
      </li>

      <% @question.outcomes.each do |outcome| %>
        <li class="list-group-item">
          <a href="/outcomes/<%= outcome.id %>">
            <%= outcome.prereq_question_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/outcomes/<%= outcome.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/outcomes/<%= outcome.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_outcome/<%= outcome.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Question has many question_outcomes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Question Outcomes
      </li>

      <% @question.question_outcomes.each do |outcome| %>
        <li class="list-group-item">
          <a href="/outcomes/<%= outcome.id %>">
            <%= outcome.prereq_question_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/outcomes/<%= outcome.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/outcomes/<%= outcome.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_outcome/<%= outcome.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Question has many answers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Answers
      </li>

      <% @question.answers.each do |answer| %>
        <li class="list-group-item">
          <a href="/answers/<%= answer.id %>">
            <%= answer.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/answers/<%= answer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/answers/<%= answer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_answer/<%= answer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Question has many user_responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Responses
      </li>

      <% @question.user_responses.each do |user_response| %>
        <li class="list-group-item">
          <a href="/user_responses/<%= user_response.id %>">
            <%= user_response.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_responses/<%= user_response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_responses/<%= user_response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_response/<%= user_response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
