<div class="page-header">
  <h3>User Status #<%= @user_status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd><%= @user_status.subject_id %></dd>

      <dt>Last question</dt>
      <dd><%= @user_status.last_question_id %></dd>

      <dt>User</dt>
      <dd><%= @user_status.user_id %></dd>

      <dt>Last answer</dt>
      <dd><%= @user_status.last_answer_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/user_statuses/<%= @user_status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_status/<%= @user_status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
