<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Company</dt>
      <dd>
        <% if @user.company.present? %>
          <a href="/companies/<%= @user.company_id %>">
            <%= @user.company.name %>
          </a>
        <% end %>
      </dd>

      <dt>Admin user</dt>
      <dd><%= @user.admin_user %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many user_statuses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Statuses
      </li>

      <% @user.user_statuses.each do |user_status| %>
        <li class="list-group-item">
          <a href="/user_statuses/<%= user_status.id %>">
            <%= user_status.subject_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_statuses/<%= user_status.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == user_status.user %>
              <a href="/user_statuses/<%= user_status.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_user_status/<%= user_status.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many user_responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Responses
      </li>

      <% @user.user_responses.each do |user_response| %>
        <li class="list-group-item">
          <a href="/user_responses/<%= user_response.id %>">
            <%= user_response.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_responses/<%= user_response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == user_response.user %>
              <a href="/user_responses/<%= user_response.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_user_response/<%= user_response.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
