<div class="page-header">
  <h1>
    User responses
    <a href="/user_responses/new" class="btn btn-lg btn-success">New User response</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
      </tr>

      <% @user_responses.each do |user_response| %>
      <tr>
        <td>
          <% if user_response.user.present? %>
            <a href="/users/<%= user_response.user.id %>">
              <%= user_response.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if user_response.question.present? %>
            <a href="/questions/<%= user_response.question.id %>">
              <%= user_response.question.inquiry %>
            </a>
          <% end %>
        </td>
        <td>
          <% if user_response.answer.present? %>
            <a href="/answers/<%= user_response.answer.id %>">
              <%= user_response.answer.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/user_responses/<%= user_response.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == user_response.user %>
            <a href="/user_responses/<%= user_response.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_user_response/<%= user_response.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @user_responses, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
