<div class="page-header">
  <h3>User Response #<%= @user_response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user_response.user_id %></dd>

      <dt>Question</dt>
      <dd><%= @user_response.question_id %></dd>

      <dt>Answer</dt>
      <dd><%= @user_response.answer_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_responses" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @user_response.user %>
        <a href="/user_responses/<%= @user_response.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_user_response/<%= @user_response.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
