<div class="page-header">
  <h3>Subject #<%= @subject.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/subjects" class="btn btn-primary">
        Back
      </a>
      <a href="/subjects/<%= @subject.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_subject/<%= @subject.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Subject has many questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Questions
      </li>

      <% @subject.questions.each do |question| %>
        <li class="list-group-item">
          <a href="/questions/<%= question.id %>">
            <%= question.inquiry %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/questions/<%= question.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/questions/<%= question.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_question/<%= question.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_question" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for inquiry -->
      <div class="form-group">
        <label for="inquiry" class="control-label">
          Inquiry
        </label>

        <input type="text" id="inquiry" name="inquiry" placeholder="Inquiry" class="form-control" value="">
      </div>

      <!-- Label and input for subject_id -->
      <input type="hidden" name="subject_id" value="<%= @subject.id %>">

      <!-- Label and input for high_level_question -->
      <div class="checkbox">
        <label for="high_level_question">
          <input type="checkbox" id="high_level_question" name="high_level_question" value="1" <%= "checked" if @question.high_level_question %>>
          High level question
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Question
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Subject has many user_statuses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Statuses
      </li>

      <% @subject.user_statuses.each do |user_status| %>
        <li class="list-group-item">
          <a href="/user_statuses/<%= user_status.id %>">
            <%= user_status.subject_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_statuses/<%= user_status.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_statuses/<%= user_status.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_status/<%= user_status.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_status" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for subject_id -->
      <input type="hidden" name="subject_id" value="<%= @subject.id %>">

      <!-- Label and input for last_question_id -->
      <div class="form-group">
        <label for="last_question_id" class="control-label">
          Last question
        </label>

        <input type="text" id="last_question_id" name="last_question_id" placeholder="Last question" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for last_answer_id -->
      <div class="form-group">
        <label for="last_answer_id" class="control-label">
          Last answer
        </label>

        <%= select_tag(:last_answer_id, options_from_collection_for_select(Answer.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create User Status
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
