<div class="page-header">
  <h3>Subject #<%= @subject.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/subjects" class="btn btn-primary">
        Back
      </a>
      <a href="/subjects/<%= @subject.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_subject/<%= @subject.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Subject has many questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Questions
      </li>

      <% @subject.questions.each do |question| %>
        <li class="list-group-item">
          <a href="/questions/<%= question.id %>">
            <%= question.inquiry %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/questions/<%= question.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/questions/<%= question.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_question/<%= question.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Subject has many user_statuses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Statuses
      </li>

      <% @subject.user_statuses.each do |user_status| %>
        <li class="list-group-item">
          <a href="/user_statuses/<%= user_status.id %>">
            <%= user_status.subject_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_statuses/<%= user_status.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_statuses/<%= user_status.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_status/<%= user_status.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
